@media screen and (min-width: 280px) and (max-width:700px){
    body{
       overflow-x: hidden;
       overflow-y: scroll;
    }
    #tasklist{
       position: relativeab;
       left: 30px; 
       font-size: 32px;
    }
    #list{
       font-size: 30px;
   }
   #noitem{
    position: absolute;
    margin-top: 50px;
    left: 50px;
    font-size: 20px;
    margin-top: 1em;
 
 }
 .addlistbutton{
    height: 35px;
    width: 35px;
    font-size: 30px;
    left: 7em;
    top: 1em;
 }
 #buttonaddlist{
    left: 10em;
    top: 1.1em; 
    font-size: 25px;
 }
 .popupbox{
   
    position: fixed;
    height:160px;
    width:280px;
    left:10vw;
    top:200px;
 }
 #cardnew{
    width: 150px;
    height: 25px;
    font-size: 20px;
 }
 .card-button{
    width: 55px;
    height: 25px;
    font-size: 15px;
 }
 #new{
    margin-top: 0px;
    font-size: 25px;
 }
 
 #close{
    margin-left: 30px;
 }
 
 #box{
      display: block;
      left: 2em;
  }
 
 .conatiner_child{
    width: 250px;
   margin-left: 25px;
 }
 .popupbox2{
   
    position: fixed;
    height:140px;
    width:250px;
    left:10vw;
  }
 
  .backbutton{
    margin-top: 1.3em;
    color:white;
    font-size: 25px;
 }
 .blank{
    top:40vw;
    left:35vw;
    font-size: 7.8vw;
 
 }
 .buttonfor{
    margin-left: 240px;
    margin-top: -50px;
    width: 100px;
    height: 50px;
 }
 #center{
    margin-top: 120px;
 }
 }
 @media screen and (min-width: 700px) and (max-width:1200px)
 {
    body{
       overflow-x: hidden;
       overflow-y: scroll;
    }
    #tasklist{
       position: relative;
       left: 20px; 
       font-size: 30px;
    }
    #list{
       font-size: 30px;
   }
   #noitem{
    position: absolute;
    margin-top: 50px;
    left: 50px;
    font-size: 20px;
    margin-top: 20px;
 
 }
 .addlistbutton{
    height: 30px;
    width: 30px;
    font-size: 25px;
    left: 10.3em;
    top: 1.2em;
 }
 #buttonaddlist{
    left: 11.5em;
    top: 1.1em; 
    font-size: 25px;
 }
 .popupbox{
   
    position: fixed;
    height:160px;
    width:280px;
    left:10vw;
    top:100px;
 }
 #cardnew{
    width: 150px;
    height: 25px;
    font-size: 20px;
 }
 .card-button{
    width: 55px;
    height: 25px;
    font-size: 15px;
 }
 #new{
    margin-top: 0px;
    font-size: 25px;
 }
 
 #close{
    margin-left: 30px;
 }
 
 #box{
      display: block;
      left: 4em;
  }
 .conatiner_child{
   left: 2em;
   width: 270px;
 }
 .popupbox2{
   
    position: fixed;
    height:140px;
    width:200px;
    left:10vw;
    top:340px;
 
  }
  .backbutton{
    margin-top: 1em;
    font-size: 30px;
 }
 .blank{
    position: absolute;
    top:10vw;
    left:15vw;
    font-size: 5.8vw;
 
 }
 .buttonfor{
    margin-left: 600px;
    margin-top: -50px;
    width: 100px;
    height: 50px;
 }
 #center{
    margin-top: 80px;
    margin-left: 2em;
 }
 }