body{
    padding: 0%;
    margin: 0%;
    background-color: black;
    color: #ffffff;
    overflow-x: hidden;
}

.addlistbutton{
    height: 55px;
    width: 55px;
    position: absolute;
    background-color: #25bfee;
    font-size: 45px;
    font-weight: bolder;
    left: 25.5em;
    top: 1.5em;
    border-radius: 50%;   
}

#buttonaddlist{
    position: absolute;
    left: 27em;
    top: 1.3em; 
    font-size: 45px;
    font-weight: 200;
    font-family: system-ui;  
}

#task{
    left: 2em; 
    font-size: 60px;
    position: absolute;
    font-weight:bolder;     
}

#list{
    font-size: 50px;
    position: absolute;
    font-weight: 200;
    font-family: system-ui;
}

#no-item{
    top:2.5em;
    left: 3.3em;
    font-size: 40px;
    font-weight: 20;
    position: absolute;
    font-family: system-ui;
}

.pop-up-box {
    width: 500px;
    height: 250px;
    position: fixed;
    border: 2px solid red;
    font-size: 25px;
    text-align: center;
    background-color: #ffffff;
    color: #ff0000;
    border-radius: 10px;
    top: 40%;
    left: 40%;
}
.show{
    display: block;
}

.hide-box{
    display: none;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}

.card-button{
    width: 100px;
    height: 30px;
    background-color: #ff4800;
    border-radius: 15px;
    font-size: large;
    color: #ffffff;
    border: 0px;
}

.closecard{
    margin-left: 50px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1260px;
    height: auto;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* background-color: #25bfee; */
    top: 9em;
    left: 8em;
    /* gap: 20px; */
}

.cards{
    width: 250px;
    height: 300px;
    border: 2px solid red;
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.hrlines{
    height: 1px;
    background-color: black;
}
